
/* set some basic style 
   and reformat the browser's style settings*/

html {
	height: 100%;
	width: 100%;
}

body {
	height: auto;
	width: 95%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
    border: 0;
    background: rgb(241, 103, 103);
    display: flex;
    flex-direction: column;

    font-family: 'Work Sans', sans-serif;

}

a {
	color: black;
	text-decoration: none;
}


img {
	max-width: 100%; 
	max-height: 100%;
}
header, h1, h2, h3, h4, h5, h6, ul{
	margin: 0;
	padding: 0;
	font-family: 'Eczar', serif;
}




span {
	margin-top: 15px;
	margin-bottom: 15px;
}

li{
	list-style-type: none;
	border-bottom: solid;
	border-color: rgba( 0,0,0,0.2);
	border-width: 0.5px;
	margin-bottom: 10px;
	padding-bottom: 5px;

	font-family: 'Work Sans', sans-serif;

}

button {
	 background: rgba( 241, 195, 103,1);
	 border-style: none;
	 font-family: 'Work Sans', sans-serif;
}
button:focus,
button:active{
	outline:none;
}



#top-bar {
	height: 60px;
	display: flex;
	flex-grow: 0;
	flex-direction: row;
	min-width: 500px;
}

  #app-icon {
  	background: #ee3bda;
  	min-width: 250px;
  }

  #search-container {
  	background:  #d1db60;
	flex-grow: 1;
	order: 1;
	display: flex;
	flex-direction: row;
  }

    #search-bar {
		background: white;
		height: 100%;
		flex-grow: 4;
		min-width: 200px;
    }

    #right-menu-button {
		background: #662656;
		height: 100%;
		order: 2;
		flex-grow: 1;
		min-width: 150px;
	}




#container {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
	min-width: 500px;


	margin-top: 30px;
	margin-bottom: 50px;
}

	#item-details-container {
		order: 1;
		flex-grow: 2.5;
		min-width: 300px;

		display: flex;

		flex-direction: column;


	}

		#about-item {
			flex-grow: 1;
			order: 1;
			display: flex;
			flex-direction: row;
			min-height: 200px;
			height: auto;
			padding: 10px 10px 10px 10px;
		}

			#cover {
				order: 1;
				height: 200px;
				width: 300px;

				text-align: center; /*center the picture*/
			}
			/* set the dimensions of cover fixed in pixels*/

			#details {
				order: 2;
				flex-grow: 1;

				padding-left: 20px;
			}

				#details div {
					display: inline;
					margin-right: 10px;
					font-size: 1.05em;
				}
				
				#details ul {
					margin-top: 10px;
				}


		#tracks-container {
			flex-grow: 1;
			order: 2;
			margin-top: 10px;
			padding: 10px 10px 10px 10px;
		}


		 	#tracks-container h2 {
		 		margin-bottom: 10px;
		 	}

		 	#tracks-container li {
		 		margin-top: 5px;
		 	}

		 	.track-item {
		 		display: flex;
		 		flex-direction: row;
		 	}

			 	.track-name {
			 		flex-grow: 1;
			 	}

			 	.track-item {
			 		/*flex-grow: 1;*/
			 	}




		#other-versions-container {
			order: 3;
			padding: 10px 10px 10px 10px;
			margin-top: 10px;
		}

		#recommandations-container {
			margin-top: 10px;
			flex-grow: 1;
			order: 3;
			padding: 10px 10px 10px 10px;

			display: flex;
			flex-direction: column;
		}

			#recommandations-container h2 {
				flex-grow: 1;
				margin-bottom: 10px;
			}

			#recommended-items-container {
				flex-grow: 2;
				display: flex;
				height: 250px;

			}
			
				#recommended-items-container ul{
					flex-grow: 1;
					margin-left: 15px;
					margin-right: 15px;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
				}

					.recommended-item {
						display: flex;
						width: 200px;
						flex-direction: column;
						/*height: 100%;*/
						/*flex-grow: 1;*/
						
						margin-right: 20px;
						border-bottom: none;
					}

						.cover-container {
							flex-grow: 2;
							text-align: center;
							width: 150px;
						}

						.item-name {
							flex-grow: 1;
							font-size: 1em;

						}

						.artist-name {
							flex-grow: 1;
							font-size: 0.8em;
						}





				#recommended-items-container>div:first-child{
					text-align: left;
					font-size: 5em;
					color: rgba(0,0,0,0.4);
					margin: auto; /*centers vertically*/
				}

				#recommended-items-container>div:last-child{
					text-align: right;
					font-size: 5em;
					color: rgba(0,0,0,0.4);
					margin: auto;
				}








	#item-user-container {
		flex-grow: 1;
		order: 2;
		min-width: 200px;
		margin-left: 10px;
	    padding: 10px 10px 10px 10px;
	    width:30%;
	    max-width: 400px;

	}

	#item-user-container button{
		font-size: 1em;

	}



