/* set some basic style 
   and reformat the browser's style settings*/

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 95%;
	margin: 0;
	padding: 0;
    border: 0;
    background: rgb(241, 103, 103);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Work Sans', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

#left-menu, #sort-filter-container, #sort-items-menu-button  {
	background: rgba(201, 232, 232,1);
}


#about-item , footer, #tracks-container, #other-versions-container, #recommandations-container, #item-user-container{
	background: rgba(201, 232, 232,1);
}

#horizontal-container {
	background: rgba( 255,255,255,0.4);
}

#right-menu-button {
	background: rgba( 241, 195, 103,1);
}





#vertical-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

	
	#top-bar {
		background: #ef9bda;
		height: 60px;
		min-height: 60px;
		display: flex;
		flex-direction: row;
		min-width: 500px;
	}


		#app-icon {
  			background: #ee3bda;
  			width: 250px;
  			min-width: 250px;
  			height: 100%;
  		}

  		#app-bar-container {
  			display: flex;
  			flex-direction: column;
  			flex-grow: 1;
  		}


			#search-container {
				background:  #d1db60;
			  	width: 100%;
			  	min-width:550px; 
				height: 100%;
				order: 1;
				display: flex;
				flex-direction: row;
			  }

			    #search-bar {
					background: white;
					width: 100%;
					height: 100%;
					order: 1;
					flex-grow: 2;
			    }


				#right-menu-button {
					background: #662656;
					width: 300px;
					height: 100%;
					order: 2;
					min-width: 300px;
				}







#horizontal-container {
	display: flex;
	flex-direction: row;
	height: 1000px;
	margin-top: 30px;
	min-height: 1000px;
}

	#left-menu {
		height: 100%;
		width: 350px;
		display: flex;
		flex-direction: column;
		min-width: 350px;

	}

	  #selected-filters-container {
			background: #665556;
			width: 70%;
			height: 90%;
			margin: auto;
		}


	#content-container {
		display: flex;
		flex-direction: column;
		width: 100%;


	}
		#sort-filter-container {
		  	width: 100%;
			height: 40px;
		  	
		}



				#sort-items-menu-button {
					height: 100%;
				}

		#items-container {

		}


footer {
	height: 300px; 
	background: yellow;
	margin-top: 30px;
	min-height: 300px;
}