/* set some basic style 
   and reformat the browser's style settings*/

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
    border: 0;
    background: red;
    display: flex;
}

a {
	color: black;
	text-decoration: none;
}


#left-menu {
	background: blue;
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	min-width: 300px;

}

  #selected-filters-container {
		background: #665556;
		width: 70%;
		height: 90%;
		margin: auto;
	}


#top-bar {
	background: #ef9bda;
	width: 70%;
	height: 12%;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-width: 500px;
}

  #search-container {
  	background:  #d1db60;
  	width: 100%;
	height: 50%;
	order: 1;
	display: flex;
	flex-direction: row;
  }

    #search-bar {
		background: white;
		width: 70%;   
		height: 100%;
		order: 1;
		flex-grow: 2;
    }


	#right-menu-button {
		background: #662656;
		width: 30%;
		height: 100%;
		order: 2;
		flex-grow: 1;
	}


  #sort-filter-container {
  	width: 100%;
	height: 50%;
	order: 1;
  	background: #d1aa60;
  	display: flex;
  	flex-direction: row;
  }



	#sort-items-menu-button {
		background: #666756;
		width: 30%;
		height: 90%;
		order: 2;
		flex-grow: 1;
		margin: auto;

	}



#content-container {

}

#items-container {

}
